[Unit]
Description=B2G API Daemon
ConditionUser=!root

[Service]
Type=simple
# TODO:
# Environment=DEFAULT_SETTINGS=
ExecStartPre=/usr/bin/prepare-api-daemon.sh
ExecStart=/usr/bin/api-daemon %h/.b2g/api-daemon.toml
Restart=always
